body{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding:0px;
    background: url("iron man 3 dope.jpg");
    background-size: 1540px 950px;
    background-attachment: fixed;
    height: 4000px;
}
.left{
    position: fixed;
    left: 10px;
    top: 26px;
    display: inline-block;
    /* border: 2px solid white; */
}
.mid{
    display: block;
    margin:40px auto;
    width: 40%;
    /* position:fixed; */
    /* border: 2px solid white; */
}
.right{
    position: absolute;
    right: 10px;
    top: 20px;
    display: inline-block;
    border: 2px solid white;
}
a{
    text-decoration: none;
    color: white;
    padding: 17px 24px;
    
}
.navbar{
    padding-inline-start: 75px;
}
.navbar li{
    font-size: 20px;
    display: inline-block;
    list-style: none;
    margin: 0px -2px;

} 
a:hover{
    background-color: rgba(0,0,0,.3);
    color: #fff;
    
    
}
.left img{
    width: 155px;
}
.prateek{
    font-family: monospace;
    text-align: center;
}
.home{
    width: 650px;
    /* background-color: black;
    opacity: 0.5; */
    background-color: rgba(0,0,0,.25);
    color: #fff;
    margin:10px auto;
}
.para{
    /* margin: 10px 0px; */
    padding: 20px;
    text-align: justify;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
}
#first-para{
    margin-top: 120px;
}